.pegs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100vw;
  position: relative;
}

.peg {
  display: flex;
  flex-direction: column;
  position: relative;
}
.stand {
  height: 200px;
  width: 10px;
  background-color: red;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.disc-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5px;
  gap: 1px;
}
.disc {
  /* position: absolute; */
  width: 100px;
  height: 5px;
  background-color: blue;
}
